xml/maven/binding/src/test/resources/xsd/maven.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	elementFormDefault="qualified"
	targetNamespace="http://xml.safris.org/toolkit/application/binding/test/maven.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:attribute name="attribute"/>

	<xs:element name="element"/>

	<xs:simpleType name="simpleType">
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>

	<xs:complexType name="complexType"/>

</xs:schema>